@use '../utilities/variables.scss';

.button{
    // display: block;
    border-radius: 5px;
    font-weight: var(--font-medium);
    &-flex{
        display: flex;
        align-items: center;
    }
    &-small{
        padding: .75rem 1rem;
    }
    &-link{
        padding: 0;
        background-color: transparent;
        color: var(--first-color);
        &:hover{
            background-color: transparent;
            color: var(--first-color-alt);
            fill: var(--first-color-alt);
        }
    }
    &__icon{
        width: 2rem;
        height: 2rem;
        margin-left: var(--mb-0-5);
        transition: .3s;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(356deg) brightness(102%) contrast(105%);
    }
}