@use '../utilities/variables';

.button__scroll{
    display: none;
    &-button{
        color: var(--first-color);
        transition: .3s transform;
        &:hover{
            transform: translateY(.25rem);
        }
    }
    &-mouse{
        font-size: 1.1rem;
    }
    &-name{
        font-size: var(--small-font-size);
        color: var(--title-color);
        font-weight: var(--font-medium);
        margin-right: var(--mb-0-25);
        margin-left: var(--mb-0-25);
    }
    &-arrow{
        font-size: 1.1rem;
    }
}

@mixin medium-device-bsd {
    .button__scroll{
        display: block;
        margin-bottom: 1rem;
        &-button{
            margin-left: 3rem;
        }
    }
}