.studies{
    &__tabs{
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: space-between;
    }
    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--light-yellow);
        padding: 5%;
        font-size: var(--studies-target);
        font-weight: var(--font-medium);
        cursor: pointer;
        width: 50%;
        transition-duration: 1s;
        transform: skewX(-8deg) translateX(2.5%);
        &-icon{
            width: 25%;
            margin-right: var(--mb-0-25);
            fill: var(--text-color);
            transition-duration: 1s;
        } 
        &:hover{
            color: var(--light-yellow);
        }
        &:hover &-icon{
            fill: var(--light-yellow);
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
    &__button.studies__active{
        color: var(--second-text-color);
        background: var(--light-yellow);
    }
    &__button.studies__active > &__button-icon{
        fill: var(--second-text-color);
    }
}
@mixin mobile-big-tabs {
    .studies__tabs{
        width: 100%;
    }
}