@use '../utilities/variables.scss';

.container{
    // width: 100%;
    
}
@mixin mobile-portrait-container{
    .container{
        padding-right: 7vw;
    }
}
@mixin mobile-landscape-container{
    .container{
        padding-left: 18vw;
        padding-right: 5vw;
    }
}
@mixin prueba{
    // .container{
    //     padding-left: 10%;
    //     padding-right: 10%;
    // }
}
