@use '../utilities/variables.scss';

.header{
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: var(--z-fixed);
    background-color: rgba(20,20,20, .3);
    &__icon{
        width: var(--nav-icons-size);
        fill: #fff;
        cursor: pointer;
        &:hover{
            fill: var(--blue);
        }
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
}
}
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0 0 0 / .15);
}
@mixin mobile-landscape-header{
    .header{
        position: relative;
        bottom: 0;
        left: 0;
        &__btn{
            display: none;
        }
    }
}
