@use '../utilities/variables';
.home{
    background-color: #011627;
    color: #fff;
    
    &__left{
        display: inline;
        width: 60%;
        height: 100vh;
        background-color: #2ec4b6;
        clip-path: polygon(0 0, 40% 0, 100% 100%, 0 100%);
        animation: mymove 3s cubic-bezier(.44, .05, 0, .98) 0s;
    }
    @keyframes mymove {
        0%{
        clip-path: polygon(0 0, 0 0,0 100%, 0 100%);
        }
    }
    &__container{
        gap: 1rem;
        display: flex;
        align-items: center;
    }
    &__content{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
        align-items: center;
    }
    &__social{
        display: grid;
        grid-template-columns: max-content;
        row-gap: 1rem;
    }
    
    &__data{
        grid-column: 1/3;
    }
    &__title{
        font-size: var(--big-font-size);
        color: #011627;
    }
    &__subtitle{
        font-size: var(--h3-font-size);
        color: #011627;
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-0-75);
    }
    &__description{
        margin-bottom: var(--mb-2);
    }
    &__right{
        position: relative;
        width: 400px;
        height: 300px;
        border: 2px solid #FF9F1C;
        border-radius: 50%;
    }
    
    
    
    
}
@mixin medium-device-home2 {
    .home{
        &__container{
            row-gap: 5rem;
        }
        &__content{
            padding-top: 6.6rem;
            column-gap: 2rem;
        }
    }
}
@mixin medium-device-home {
    .home{
        &__content{
            grid-template-columns: max-content 1fr 1fr;
        }
        &__data{
            grid-column: initial;
        }
        &__img{
            order: 1;
            justify-self: center;
        }
    }
}
@mixin small-device-home {
    .home{
        &__content{
            grid-template-columns: .25fr 3fr;
        }
    }
}
@mixin big-device-home {
    .home{
        &__social{
            // transform: translateX(-6rem);
        }
    }
}
