@use '../utilities/variables';
@use '../base/animations';
.home{
    position: relative;
    overflow: hidden;
    &__container{
        justify-items: center;
    }
    &__presentation{
        margin-top: 2.5rem;
        position: relative;
        width: 100%;
        text-align: left;
    } 
    &__fullname{
        display: flex;
    }
    &__greeting, &__name,&__position{
        position: relative;
        margin: 0;
        padding: 0;
        letter-spacing: 2px;
        font-size: var(--big-font-size);
        font-weight: 700;
        color: #fff;
        -webkit-text-stroke: 1px rgba(255,255,255,0.5);
    }
    &__polygon{
        position: absolute;
        top: 50px;
        left: 0px;
        width: 90%;
        height: 400px;
        opacity: .5;
        transform: rotate(5deg);
    }
    &__button{
        font-size: var(--small-font-size);
        padding: .5em;
        color: var(--text-color);
        text-align: center;
        border:1px solid #147DF5;
        &:hover{
            color: #147DF5;
        }
    }
}
@mixin mobile-big-home{
    .home__position{
        font-size: var(--h1-font-size);
    }
}

// @mixin medium-device-home2 {
//     .home{
//         &__container{
//             row-gap: 5rem;
//         }
//         &__content{
//             padding-top: 6.6rem;
//             column-gap: 2rem;
//         }
//     }
// }
// @mixin medium-device-home {
//     .home{
//         &__content{
//             grid-template-columns: max-content 1fr 1fr;
//         }
//         &__data{
//             grid-column: initial;
//         }
//         &__img{
//             order: 1;
//             justify-self: center;
//         }
//     }
// }
// @mixin small-device-home {
//     .home{
//         &__content{
//             grid-template-columns: .25fr 3fr;
//         }
//     }
// }
// @mixin big-device-home {
//     .home{
//         &__social{
//             // transform: translateX(-6rem);
//         }
//     }
// }
