.qualification{
    &__container{
        height: 450px;
    }
    &__data{
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 1.5rem;
    }
    &__title{
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        // text-align: end;
    }
    &__subtitle{
        display: inline-block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-0-25);
    }
    &__calendar{
        display: flex;
        align-items: center;
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
        // transform: translateX(-6px);
    }
    &__icon{
        width: var(--smaller-font-size);
        filter:var(--i-text-color-light);
        margin-right: 2px;
    }
    &__rounder{
        display: inline-block;
        width: 13px;
        height: 13px;
        background-color: var(--first-color);
        border-radius: 50%;
        // transform: translateY(3px);
    }
    &__line{
        display: block;
        width: 1px;
        height: 100%;
        background-color: var(--first-color);
        transform: translate(6px,-7px);
    }
    & [data-content]{
        display: none;
    }
    &__active[data-content]{
        display: block;
    }
}

@mixin medium-device-qualification2 {
    .qualification__sections{
        grid-template-columns: .5fr;
    }
}
@mixin medium-device-qualification {
    .qualification__sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}
@mixin small-device-qualification {
    .qualification__data{
        gap: .5rem;
    }
}