.studies{
        position: relative;
    &__title{
        color: var(--light-yellow);
    }
    &__mask{
        fill: var(--light-yellow);
    }
    &__container{
        height: auto;
        grid-template-columns: 100%;
        gap: 1.5rem;
        justify-items: center;
    }
    &__card{
        width: 100%;
        perspective: 1000px;
    }
    &__box{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 400px;
        padding: 15px 5%;
        transform-style: preserve-3d;
        transition: 1.5s ease;
        background-color: rgb(21,21,21);
        border: 1px solid var(--light-yellow);
    }
    &__frontFace{
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: .8fr min-content .8fr;
        column-gap: 5%;
        & div:nth-child(3){
            grid-column: 2/3;
        }
        & div:nth-child(4){
            grid-column: 3/4;
        }
        & div:nth-child(7){
            grid-column: 2/3;
        }
    }
    &__backFace{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--gray);
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transform-style: preserve-3d;
        transform: rotateY(180deg);
    }
    &__contentBx{
        width: 97%;
        height: 65%;
        padding: 7px 0;
        background-color: var(--dark-color);
        transform:translateZ(100px);
        border: 1px solid var(--light-yellow);
        display: grid;
        grid-template-rows: repeat(3,1fr);
        gap: 2%;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    &__left{
        text-align: end;
    }
    &__topic{
        color: var(--light-yellow);
        font-size: var(--h3-font-size);
        line-height: 25px;
    }
    &__place{
        font-size: var(--small-font-size);
    }
    &__date{
        font-size: var(--smaller-font-size);
    }
    &__linePoint{
        width: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--front{
            height: 109%;
            transform: translateY(8px);
            & .studies__line{
                height: 90%;
            }
        }
        &--back{
            height: 100%;
            & .studies__line{
                height: 90%;
            }
        }
    }
    &__rounder{
        width: 10px;
        height: 10px;
        background-color: var(--light-yellow);
        border-radius: 50%;
    }
    &__line{
        width: 1px;
        height: 110%;
        background-color: var(--light-yellow);
    }
   
}
.active-Box{
    transform: rotateY(180deg);
}
@mixin mobile-portrait-studies {
    .studies__topic{
        font-size: var(--h3-mobile-portrait);
    }
}
@mixin mobile-big-studies {
    .studies{
        &__card{
            width: 100%;
        }
        // &__topic{
        //     font-size: var(--h3-mobile-portrait);
        // }
    }
}

// @mixin medium-device-qualification2 {
//     .qualification__sections{
//         grid-template-columns: .5fr;
//     }
// }
// @mixin medium-device-qualification {
//     .qualification__sections{
//         display: grid;
//         grid-template-columns: .6fr;
//         justify-content: center;
//     }
// }
// @mixin small-device-qualification {
//     .qualification__data{
//         gap: .5rem;
//     }
// }