@use '../utilities/variables.scss';
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: url('./assets/img/webpack-logo.png');
    background-size: cover;
}